<!-- <div class="header">
    <a href="#default" class="logo" style="font-size:xx-large; color:black">Library</a>
    <div class="header-right">
      
    </div>
    
      
  </div> -->

  <nav class="navbar navbar-expand-lg static-top" style="background-color: #fdc96a">
      <div class="container">
        <a class="navbar-brand" href="#">
            Library
            </a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">home
                
                </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/nav/emi" >EMI</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Logout</a>
          </li>
          
        </ul>
      </div>
      </div> 
    </nav>
  